body {
    background-color: white;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    gap: 50px;
}

.c-container {
    display: flex;
    gap: 30px;
}

.card-container {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        105deg,
        rgba(2, 0, 36, 0.2413340336134454) 0%,
        rgba(0, 212, 255, 0.13489145658263302) 100%
    );
    border: 1px solid black;
    width: 15rem;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
        &-img {
            img {
                width: 100px;
                height: 100px;
            }
        }
        &-text {
            margin-top: 2vh;
            font-size: 1.2rem;
        }
    }
}

.btn-go {
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    font-size: 1rem;
}
